/* Write your CSS here! */
body {
  margin: 8px;
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
#mainHeading {
  color: red;
}
.funParagraph {
  color: green;
}
.image {
  width: 500px;
}
p {
  color: navy;
  padding: 10px;
  margin: 0 auto;
  max-width: 500px;
}
h1 {
  font-family: fantasy;
  font-weight: bold;
  line-height: 1.2;
  max-width: 500px;
  margin: 30px auto;
}
